@media only screen and (max-width: 750px) {
  body {
    width: 100%;
  }
  header {
    margin-left: 20%;
  }
  .header_rectangle {
    display: none;
  }
  .list {
    display: none;
  }
  section {
    padding: 0;
    margin: 5%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  section div {
    padding-left: 27px;
  }
  section img {
    display: none;
  }
  section h1 {
    width: 99%;
  }
  section p {
    width: 99%;
  }
  .section_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    width: 92%;
    margin-left: -49px;
    padding-left: 0;
  }
  .section_2 ul {
    padding-top: 30px;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section_2 ul li input {
    padding-left: 35px;
    text-align: start;
    width: 222px;
  }
  .section_2 div .logo {
    width: 69%;
    height: 57px;
  }
  .searchbar_img {
    padding-left: 8px;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    padding-top: 11px;
  }
  .searchbar {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    margin-right: -12%;
    margin-left: 21px;
  }
  .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 90px;
    max-width: 100%;
  }
  .section3 div {
    padding-left: 8px;
    width: 89%;
  }
  .section3 div h1 {
    margin-right: 12%;
  }
  .section3 div p {
    margin-bottom: 8%;
    margin-right: 1%;
  }
  .section3 .figure {
    width: 89%;
    padding: 0;
    margin-right: 17px;
  }
  .section3 .figure figure figcaption {
    font-size: 12px;
  }
  .section4 {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-top: 15%;
    width: 100%;
  }
  .section4 .fund_guru_img {
    width: 70%;
    padding: 64px;
  }
  .section4 div {
    padding-left: 63px;
    margin: 10px;
  }
  .section4 div h1 {
    font-size: 34px;
  }
  .section4 div .section4_div {
    padding: 0;
  }
  .section5 {
    margin-top: 65px;
  }
  .section5 .expert_img {
    display: none;
  }
  .section5 .section5_div1 {
    padding-top: 10px;
    margin-left: 0;
  }
  .section5 .section5_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-left: 0;
  }
  .section6 {
    margin: 0;
    padding-left: 26px;
    text-align: center;
  }
  .section6 h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .section6 div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 93%;
    position: relative;
  }
  .section6 div #section6_img {
    position: absolute;
    top: -64px;
  }
  footer .footer_div1 {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-left: 20%;
  }
  footer .footer_div1 #footer_logo {
    width: 50%;
    padding: 0;
  }
  footer .footer_div1 .footer_list1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_div1 .footer_list2 {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 135%;
  }
  footer .footer_div1 .footer_list2 #list-4 {
    position: absolute;
    top: 84px;
    left: 83px;
  }
  footer .footer_div1 .footer_list2 #list-4 li {
    padding-left: 18px;
  }
  footer .footer_div1 ul {
    margin: 0;
  }
  footer .footer_div1 h1 {
    font-size: 15px;
  }
  footer .footer_div2 {
    position: relative;
  }
  footer .footer_div2 small {
    display: none;
  }
  footer .footer_div2 div {
    position: absolute;
    left: 229px;
    top: 100px;
  }
}

@media (min-width: 601px) and (max-width: 770px) {
  footer .footer_div1 {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20%;
  }
  footer .footer_div1 .footer_logo {
    width: 50%;
    padding: 0;
    padding-left: 54px;
  }
  footer .footer_div1 ul {
    margin: 0;
    width: 35%;
  }
  footer .footer_div1 h1 {
    font-size: 15px;
  }
}

@media (min-width: 751px) and (max-width: 992px) {
  body {
    max-width: 100%;
  }
  .header_content {
    padding-right: 32px;
  }
  .section_2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section {
    padding-right: 0px;
    padding-left: 0px;
  }
  section img {
    padding-right: 15px;
  }
  section div {
    padding-left: 40px;
  }
  .section3 .figure {
    width: 50%;
  }
  .section4 {
    padding-left: 0;
    padding-right: 0;
  }
  .section5 .section5_div1 {
    margin-left: 0px;
  }
  .section5 .section5_div div {
    width: 40%;
  }
  .section5 .section5_div .expert_img {
    padding-left: 20px;
  }
}
/*# sourceMappingURL=resp.css.map */